/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    opacity: .3;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lighten(#2F80F3, 20%);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2F80F3;
}