@import '_fonts.scss';
@import '_global.scss';
@import '_overall.scss';
@import '_variables.scss';
@import '_scroll-custom.scss';

body {
  margin: 0;
  padding: 0;
  font-family: PT Sans;
}
//body {
//  color: $main-color;
//}