<template>
  <div class="amount-forecast">
    <div class="amount-forecast__title">Введите сумму, чтобы увидеть прогноз по подписчикам и просмотрам</div>
    <div class="amount-forecast__input-wrapper wrapper">
      <img src="../../assets/images/svg/price-icon.svg" alt="" class="wrapper__icon">
      <Input v-model="inputValue" @change="changeCount()"/>
      <span class="wrapper__text">руб.</span>
    </div>
  </div>
</template>

<script>
import Input from "../Input"
export default {
  name: "AmountForecast",
  components: {
    Input
  },
  data() {
    return {
      inputValue: "10000"
    }
  },
  methods: {
    changeCount() {
      console.log(this.inputValue)
      this.$emit('changeValue', this.inputValue)
    }
  }
}
</script>

<style lang="scss" scoped>
.amount-forecast {
  background: #E2E5EE;
  border-radius: 6px;
  padding: 30px 50px 47px;
  width: 76%;
  @media(max-width: 1350px) {
    width: 86%;
    padding: 30px 40px 46px;
  }
  @media(max-width: 900px) {
    box-sizing: border-box;
    width: 100%;
    border-radius: 0;
    padding: 24px 20px 30px;
  }
  &__title {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: $text-color;
    width: 70%;
    @media(max-width: 1715px) {
      width: 90%;
    }
    @media(max-width: 1350px) {
      font-size: 18px;
      line-height: 23px;
    }
  }
  &__input-wrapper {
    display: flex;
    align-items: center;
    margin-top: 40px;
  }
}
.wrapper {
  &__icon {}
  &__text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: $text-color;
    @media(max-width: 720px) {
      font-size: 15px;
      line-height: 25px;
    }
  }
}
</style>