<template>
  <div class="status-forecast">
      <div class="status-forecast__number"> +{{number}}</div>
      <div class="status-forecast__text">{{text}}</div>
  </div>
</template>

<script>
export default {
  name: "StatusForecast",
  props: {
    number: {
      type: Number,
      default: () => 0
    },
    text: {
      type: String,
      default: () => ""
    }
  }
}
</script>

<style lang="scss" scoped>
.status-forecast {
  background: #EBE1FC;
  border-radius: 6px;
  padding: 20px 0 19px;
  width: 240px;
  box-sizing: border-box;
  &:first-child {
    margin-right: 24px;
  }
  @media(max-width: 1350px) {
    padding: 18px 0 13px;
    width: 96%;
    height: 92px;
    &:first-child {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  @media(max-width: 900px) {
    width: 48%;
    &:first-child {
      margin-bottom: 0;
    }
  }
  &__number {
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: $text-color;
    @media(max-width: 1350px) {
      font-size: 26px;
      line-height: 28px;
    }
  }
  &__text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    color: #4B4B4B;
    @media(max-width: 1024px) {

    }
  }
}
</style>