<template>
  <div class="subtitle">
    Мы пользуемся только официальными инструментами рекламы, рекомендуемыми самим YouTube,
    поэтому все приведенные нами просмотры, лайки и комментарии будут настоящими,
    а подписчики живыми и заинтересованными в тематике Вашего канала
  </div>
</template>

<script>
export default {
  name: "Subtitle",

}
</script>

<style lang="scss" scoped>
.subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #505361;
  width: 90%;
  @media(max-width: 1350px) {
    width: 100%;
    display: grid;
    grid-column: 1/3;
    text-align: center;
  }
}
</style>