<template>
  <div class="title">Прогноз продвижения</div>
</template>

<script>
export default {
name: "Title"
}
</script>

<style lang="scss" scoped>
.title {
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  text-align: center;
  letter-spacing: 0.01em;
  color: $text-color;
  @media(max-width: 1024px) {
    font-size: 38px;
    line-height: 50px;
  }
  @media(max-width: 720px) {
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.02em;
  }
}
</style>