<template>
   <div class="forecast">
     <div class="container resize">
       <Title class="resize-container"/>
       <div class="forecast__content">
         <Subtitle class="resize-container"/>
         <div class="forecast__status-wrapper resize-container">
           <StatusForecast :number="visitedProfile" text="просмотров"/>
           <StatusForecast :number="countOfProfile" text="подписчиков"/>
         </div>
         <div class="forecast__amount-forecast">
           <AmountForecast @changeValue="changeGraph"/>
            <div class="forecast__info">
              Прогноз подписчиков зависит от Вашего контента. Сделайте его интересным и старайтесь не снижайть планку
            </div>
         </div>
         <div class="forecast__progress">
            <Chart ref="chartComponent" :chartdata="chartdata" :options="options"/>
         </div>
         <div class="forecast__info-mobile resize-container">
            Прогноз подписчиков зависит от Вашего контента. Сделайте его интересным и старайтесь не снижайть планку
         </div>
       </div>
     </div>
   </div>
</template>

<script>
import Title from "./_Title"
import Subtitle from "./_Subtitle"
import StatusForecast from "./_StatusForecast"
import AmountForecast from "./_AmountForecast"
import Chart from "./_Chart"
export default {
  name: "PromotionForecast",
  components: {
    Title,
    Subtitle,
    StatusForecast,
    AmountForecast,
    Chart
  },
  created() {
    window.addEventListener("resize", this.changeContainerResponsive);
  },
  destroyed() {
    window.removeEventListener("resize", this.changeContainerResponsive);
  },
  data() {
    return {
      visitedProfile: 9090,
      countOfProfile: 100,
      chartdata: {
        labels: [
          '1 день',
          '2 день',
          '3 день',
          '4 день',
          '5 день',
          '6 день',
          '7 день'
        ],
        datasets: [
          {
            label: 'Подписчики',
            backgroundColor: '#f87979',
            data: [0, 10, 30, 40, 50, 80, 100, 200]
          }
        ]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false
      }
    }
  },
  mounted() {
    this.changeContainerResponsive()
  },
  methods: {
    countGraphPosition(key, count, percent) {
       return this.chartdata.datasets[0].data[key] = Math.round(count * percent / 100 + this.chartdata.datasets[0].data[key - 1])
    },
    changeGraph(event) {
      let count = 0
      this.visitedProfile = Math.round(parseInt(event) * 9090 / 10000)
      this.countOfProfile = Math.round(parseInt(event) * 100 / 10000)
      let countVisit = parseInt(event) * 100 / 10000
      this.chartdata.datasets[0].data   = []
      this.chartdata.datasets[0].data[0] = 0
      this.chartdata.datasets[0].data[1] = Math.round(countVisit * 30 / 100)
      this.countGraphPosition(2, countVisit, 15)
      this.countGraphPosition(3, countVisit, 22)
      this.countGraphPosition(4, countVisit, 18)
      this.countGraphPosition(5, countVisit, 7)
      this.countGraphPosition(6, countVisit, 8)
      this.chartdata.datasets[0].data[7] = 200
      this.$refs.chartComponent.renderChart(this.chartdata, this.options)
    },
    changeContainerResponsive(){
      let container = document.querySelector(".resize")
      let resizeContainer = document.querySelectorAll(".resize-container")
      if(window.innerWidth <= 900) {
        container.classList.remove("container")
        resizeContainer.forEach( val => {
          val.classList.add("container")
        })
      } else {
        container.classList.add("container")
        resizeContainer.forEach( val => {
          val.classList.remove("container")
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.forecast {
  padding: 100px 0;
  @media(max-width: 1024px) {
    padding: 80px 0 50px;
  }
  @media(max-width: 720px) {
    padding: 50px 0;
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-row-gap: 40px;
    grid-column-gap: 30px;
    margin-top: 60px;
    @media(max-width: 1350px) {
      margin-top: 20px;
      grid-gap: 30px;
    }
    @media(max-width: 900px) {
      grid-template-columns: 1fr;
      grid-column-gap: 0;
    }
  }
  &__status-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    @media(max-width: 1350px) {
      flex-direction: column;
      align-items: flex-end;
    }
    @media(max-width: 900px) {
      flex-direction: row;
      justify-content: space-between;

    }
  }
  &__amount-forecast{
    @media(max-width: 1350px) {
      display: grid;
      grid-column: 1/2;
      grid-row: 2/3;
    }
    @media(max-width: 900px) {
      grid-column: 1/3;
    }
  }
  &__info{
    margin-top: 30px;
    font-family: Montserrat;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #717171;
    width: 90%;
    @media(max-width: 1350px) {
      display: none;
    }
    &-mobile {
      letter-spacing: 0.02em;
      display: none;
      @media(max-width: 1350px) {
        display: block;
        font-size: 15px;
        line-height: 22px;
      }
    }
  }
  &__progress {
    @media(max-width: 1350px) {
      display: grid;
      grid-column: 1/3;
    }
  }
}
</style>