<template>
  <div class="home">
    <Forecast />
  </div>
</template>

<script>
import Forecast from "../components/promotionForecast/PromotionForecast"
export default {
  name: 'Home',
  components: {
    Forecast
  }
}
</script>


