<template>
  <div :class="[
      inputSize ? 'input__' + inputSize : '',
  ]">
    <input @input="handleInput"
           @change="handleChange"
           :disabled="inputDisabled"
           :type="type"
           :value="value"
           class="input__inner">
  </div>
</template>

<script>
export default {
  name: "Input",
  props: {
    value: [String, Number],
    disabled: {
      type: Boolean,
      default: () => false
    },
    type: {
      type: String,
      default: 'text'
    },
    size: {
      type: String,
      default: 'default'
    },
  },
  computed: {
    inputDisabled() {
      return this.disabled;
    },
    inputSize() {
      return this.size
    }
  },
  methods: {
    handleInput(evt) {
      this.$emit('input', evt.target.value)
    },
    handleChange(evt) {
      this.$emit('change', event.target.value);
    }
  }
}
</script>

<style lang="scss" scoped>
.input__inner {
  padding: 5px 20px;
  margin: 0 20px;
  width: 308px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #E2E5EE;
  box-sizing: border-box;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  line-height: 26px;
  @media(max-width: 900px) {
    margin: 0 16px;
    width: 283px;
  }
}
</style>